Requirement already satisfied (use --upgrade to upgrade): freeze in /home/fernanda/.virtualenvs/transporte_flask/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): six in /home/fernanda/.virtualenvs/transporte_flask/lib/python2.7/site-packages (from freeze)
