{% extends 'base.html' %}
{% block content %}

<div class="add">
    <a href={{url_for('add_usuario')}}><span class="glyphicon glyphicon-plus">AdicionarUsuario</span></a>
</div>
<h2><strong> Usuarios: </strong></h2>

<table class="table table-condensed">
        <tr class="success">
            <td><strong> Id_usuario </strong></td>
            <td><strong> Matricula </strong></td>
            <td><strong> Nome </strong></td>
            <td><strong> CPF </strong></td>
            <td><strong> Email </strong></td>

        </tr>
    {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id_usuario }}</td>
            <td> {{ usuario.matricula }} </td>
            <td> {{ usuario.nome }} </td>
            <td> {{ usuario.cpf }} </td>
            <td> {{ usuario.email }} </td>

            <td><a href="{{url_for('editar_usuario')}}/{{ usuario.id_usuario }}"><span class="btn btn-default"> Editar </span></a></td>
            <td><a href="{{ url_for ('del_usuario')}}/{{ usuario.id_usuario }}"><span class="btn btn-danger"> Deletar </span></a></td>
        </tr>
    {% endfor %}
</table>
<a href="{{url_for('ifpb_transportes')}}"><span class="btn btn-primary"> Menu </span></a>

{% endblock %}
