{% extends 'base.html' %}
{% block content %}

<div class="add">
    <a href="{{url_for ('add_motorista')}}"><span class="glyphicon glyphicon-plus">AdicionarMotorista</span></a>
</div>
<h2><strong> Motoristas: </strong></h2>

<table class="table table-condensed">
        <tr class="success">
            <td><strong> Id_motorista </strong></td>
            <td><strong> Matricula </strong></td>
            <td><strong> Nome </strong></td>
            <td><strong> CNH </strong></td>
        </tr>
    {% for motorista in motoristas %}
        <tr>
            <td> {{ motorista.id_motorista }} </td>
            <td> {{ motorista.matricula }} </td>
            <td> {{ motorista.nome }} </td>
            <td> {{ motorista.cnh}} </td>
            <td><a href="{{url_for ('editar_motorista')}}/{{ motorista.id_motorista }}"><span class="btn btn-default"> Editar </span></a></td>
            <td><a href="{{url_for ('del_motorista')}}/{{ motorista.id_motorista }}"><span class="btn btn-danger"> Deletar </span></a></td>
        </tr>
    {% endfor %}
</table>
<a href="{{url_for ('ifpb_transportes')}}"><span class="btn btn-primary"> Menu </span></a>

{% endblock %}
