{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12 col-md-12">
	<td>
		<a class="btn btn-success" href="{{url_for('list_usuario')}}" role="button">Usuário</a>
	<td>
		<a class="btn btn-success" href="{{url_for ('login')}}" role="button">Sair</a>
	</td>
</div>
<div class="menu_div">
	<div class="menu">
		<a href="{{url_for('motorista')}}"><p>Motorista</p>
			<img src="{{url_for('static', filename='img/motorista.png')}}"/>
		</a>
	</div>

	<div class="menu">
		<a href="{{url_for('veiculo')}}"><p>Veículo</p>
			<img src="{{url_for('static', filename='img/transporte.png')}}"/>
		</a>
	</div>

</div>

<div class="menu_div">
	<div class="menu">
		<a href="{{url_for('viagem')}}"><p>Viagem</p>
			<img src="{{url_for('static', filename='img/viagem.png')}}"/>
		</a>
	</div>

	<div class="menu">
		<a href="{{url_for('revisao')}}"><p>Revisão</p>
			<img  src="{{url_for('static', filename='img/revisao.png')}}"/>
		</a>
	</div>
</div>
{% endblock %}
